.logo{
    max-width: 150px;
    
  
  }
  .nav{
    
    top: 40px;
   left: 30%;
   background-color: rgb(214, 212, 253);
   margin: 10px;
  
  
}
header{
    background-size: cover;
    background-position: 0px -600px;
    padding: 15px;
    background-color: rgb(129, 234, 248);
    margin: 0px;
    
}
.apresentação{
    background-color: rgb(137, 196, 235);
    
}
.banners{
    margin: 170px;
    margin-left: 10px;
}
.denuncia{
    background-color:rgb(129, 234, 248); 
}
.denuncia h1{
    text-align: center;
    padding: 15px;
}
.denuncia p{
    margin: 30px;
    margin-left: 200px;
}
.denunciaestado {
    background-color:rgb(49, 217, 240);
    margin: 30px;
    padding: 5%;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(137, 196, 235);
   
}
.logofooter{
  
    max-width: 100px;
}
#p01
{
    background-color: white;
    border-radius: 10px;
    border: 5px;
    margin-right: 10px;
    margin-block-end: 10px;
}
.link {
    font-size: 40px;

    border-radius: 5px;
}
.aujuda{
    width: 80px;
    height: 30px;
  }